<div class="ui card">
    <div class="content">
        <a id={{resource.id}} class="header">{{resourceType.name}}</a>
        <div class="description">
            {{resource.name}}

            {{#each resource.attribute as |attribute|}}
            <p>{{attribute.name}}</p>
            {{#if showAmount }} <p>{{attribute.amount}}</p>{{/if}}
            {{/each}}
        </div>
    </div>
</div>