<div class="ui card">
    <div class="content">
        <a id={{resource.id}} class="header">{{resourceType.name}}</a>
        <div class="description">
            <p>{{resource.name}}</p>

            {{#each resAttrs as |attr|}}
            <p>{{attr.name}} {{#if showAmount}}{{attr.amount}}{{/if}}</p>
            {{/each}}
        </div>
    </div>
</div>