<div class="ui stackable custom grid">
    <div class="row">
        Игрвовое время: {{time}} часов
    </div>
    <div class="row">
        <button class="ui button" {{action "startProcess"}}>Запустить процесс</button>
    </div>


    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Выберите игровой ресурс:
        </div>
        <div class="content">
            <div class="ui stackable custom grid">
                {{#each userChoice as |item|}}
                <div class="row">
                    {{project-plan resource=item choice='choice'}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{#if debugMode}}
    Список активных процессов:
    {{#each activeProcesses as |process|}}
    <div class="two column row">
        <div class="column">{{process.code}}</div>
        <div class="column">{{process.lSA}}</div>
    </div>
    {{/each}}

    Лог команд ЛСА:
    {{#each log as |logelem|}}
    <div class="row">
        <div class="column">{{logelem.text}}</div>
    </div>
    {{/each}}
    {{else}}
    <button class="ui button" {{action "showDebug"}}>Меню отладки</button>
    {{/if}}
</div>