<div class="ui stackable custom grid">
    <div class="row">
        {{time}}
    </div>
    <div class="row">
        <button class="ui button" {{action "startProcess"}}>Запустить процесс</button>
    </div>

    {{#if debugMode}}
    Список активных процессов:
    {{#each activeProcesses as |process|}}
    <div class="two column row">
        <div class="column">{{process.code}}</div>
        <div class="column">{{process.lSA}}</div>
    </div>
    {{/each}}

    Лог команд ЛСА:
    {{#each log as |logelem|}}
    <div class="row">
        <div class="column">{{logelem.text}}</div>
    </div>
    {{/each}}
    {{else}}
    <button class="ui button" {{action "showDebug"}}>Меню отладки</button>
    {{/if}}
</div>