<h3 class="ui header">{{t 'forms.n-i-b-g-a-r-attribute-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.code
    class=(if model.errors.code 'error' '')
    label=(t 'forms.n-i-b-g-a-r-attribute-e.code-caption')
  }}
  {{flexberry-validationmessage error=model.errors.code pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.n-i-b-g-a-r-attribute-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.amount
    class=(if model.errors.amount 'error' '')
    label=(t 'forms.n-i-b-g-a-r-attribute-e.amount-caption')
  }}
  {{flexberry-validationmessage error=model.errors.amount pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.n-i-b-g-a-r-attribute-e.aRInstance-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.aRInstance
    displayAttributeName='name'
    autocomplete=true
    relationName='aRInstance'
    projection='ARInstanceL'
    title=(t 'forms.n-i-b-g-a-r-attribute-e.aRInstance-caption')
    readonly=readonly
    componentName="aRInstanceLookup"
  }}
  {{flexberry-validationmessage error=model.errors.aRInstance pointing="pointing"}}
</div>

</form>
